:root {
  --page-bg-color: #e0eafc;
  --header-bg-color: #1e3c72;
  --title-color: #f0f8ff;
  --widget-bg-color: #f0f8ff;
  --widget-border-radius: 15px;
  --widget-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  --primary-font-color: #333333;
  --secondary-font-color: #666666;
  --accent-color: #3498db;
  --error-bg-color: #f8d7da;
  --error-font-color: #721c24;
  --font-family: 'Poppins', sans-serif;
  --title-font-size: 24px;
  --standard-font-size: 16px;
  --info-font-size: 18px;
  --padding: 15px;
  --margin: 20px;
  --transition-speed: 0.3s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--page-bg-color);
  font-family: var(--font-family);
}

#app {
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-bg-color);
  box-shadow: var(--widget-box-shadow);
  padding: 5px;
}

.body {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: repeat(3, 1fr);
  align-items: stretch;
  justify-items: center;
  padding: var(--margin);
  gap: var(--margin);
}

.logo-container {
  width: 80px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.title {
  color: var(--title-color);
  font-size: var(--title-font-size);
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0 20px;
}

.search-icon-container {
  width: 30px;
  height: 30px;
  margin: 0 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.card {
  background-color: var(--widget-bg-color);
  border-radius: var(--widget-border-radius);
  box-shadow: var(--widget-box-shadow);
  width: 100%;
  max-width: 600px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: var(--padding);
  padding-top: var(--padding);
  border-bottom: 4px solid var(--page-bg-color);
}

.card-title {
  color: var(--primary-font-color);
  font-size: var(--title-font-size);
  font-weight: 700;
  margin-bottom: 10px;
}

.card-info-corner {
  color: var(--secondary-font-color);
  font-size: var(--info-font-size);
  font-weight: 400;
  margin-bottom: 10px;
}

.card-body {
  color: var(--primary-font-color);
  font-size: var(--standard-font-size);
  font-weight: 400;
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100% - 57px); /* 57px is the height of the header */
}

.forecast-body {
  font-size: var(--info-font-size);
  font-weight: 600;
  text-align: center;
  font-style: italic;
}

.error-card {
  background-color: var(--error-bg-color);
  border: 1px solid var(--error-font-color);
  grid-column: 1 / -1; /* span all columns */
}

.error-card * {
  color: var(--error-font-color);
}

.error-body {
  padding-top: var(--padding);
  text-align: center;
}

.user-friendly-message {
  font-weight: 600;
}

.detailed-message {
  padding-top: var(--padding);
}

.current-weather-hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content min-content;
  grid-template-areas:
    'address address'
    'icon       temp'
    'conditions conditions';
  justify-content: center;
  align-items: center;
  gap: var(--padding);
}

.address {
  grid-area: address;
  font-size: var(--info-font-size);
  font-weight: 600;
}

.weather-icon {
  grid-area: icon;
  align-self: center;
  justify-self: center;
  width: 60px;
  height: 60px;
}

.temp-container {
  grid-area: temp;
  display: flex;
  align-items: center;
  justify-content: center;
}

.current-temp {
  font-size: 48px;
  font-weight: 700;
}

.temp-unit {
  align-self: flex-end;
  margin-left: -16px;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  color: var(--secondary-font-color);
}

.conditions {
  grid-area: conditions;
  align-self: center;
  justify-self: center;
  font-size: var(--info-font-size);
  font-weight: 600;
}

.separator {
  padding-bottom: var(--padding);
  border-bottom: 4px solid var(--page-bg-color);
}

.info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--padding);
}

.info-icon {
  width: 50px;
  height: auto;
  margin-block: -10px;
  padding-right: 10px;
  margin-right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-right: 4px solid var(--page-bg-color);
}

.info-title {
  font-size: var(--info-font-size);
  font-weight: 600;
}

.info-content {
  font-size: var(--info-font-size);
  font-weight: 400;
  margin-left: auto;
}

#hours-preview > .card-body {
  padding-block: 0;
}

.hour-row {
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--padding);
}

.last-hour-row {
  padding-bottom: var(--padding);
}

.hour-time {
  font-size: var(--info-font-size);
  font-weight: 600;
  width: min-content;
}

.hour-temp {
  font-size: var(--info-font-size);
  font-weight: 400;
  width: min-content;
}

.hour-icon {
  width: 50px;
  height: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.hour-conditions {
  font-size: var(--info-font-size);
  font-weight: 400;
  width: min-content;
}

.hour-precip-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: min-content;
}

.hour-precip-value {
  font-size: var(--info-font-size);
  font-weight: 400;
}
/* MEDIA QUERIES */

@media (max-width: 1024px) {
  .body {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .body {
    grid-template-columns: 1fr;
  }
}
